
.fields-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.fields {
    flex: 1;
    display: flex;
    margin: auto;
    justify-content: center;
}


.in-progress {
    background-color: yellow;
}

.cancelled {
    background-color: red;
}
.done {
    background-color: green;
}

.field-container {
    width: 100%;
    line-height: 3em;
    padding: 0 2px;
}