

body {
   font-family: 'Abel', sans-serif;
}
.fields-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.fields {
    flex: 1;
    display: flex;
    margin: auto;
    justify-content: center;
}

.fields h2 {
    padding: 5px 10px;
}
.fields h4 {
    padding: 0 5px;
}
h4:nth-child(even) {
    background-color: green;
    }


.in-progress {
    /* none */
}

.cancelled {
    background-color: #fee0e0;
}
.done {
    opacity: 0.5;

}

.field-container {
    width: 100%;
    line-height: 3em;
    padding: 0 2px;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}

h4 {
    background-color: 
}
.top_bar {
    border-bottom: 3px solid grey;
    display: flex;
    justify-content: center;
    padding: 2%;
}
.search_bar {


}